.calendarleft {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  .site-calendar-demo-card {
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    .ant-picker-calendar-mini {
      padding: 30px;
      .ant-picker-calendar-header {
        flex-direction: row-reverse;
        justify-content: center;
        .ant-picker-calendar-mode-switch {
          visibility: hidden;
          display: none;
        }
        .ant-select-selector {
          border: 0px;
          .ant-select-selection-item {
            font-size: 26px;
            font-weight: 700;
            color: #0f4c81;
            padding: 0 !important;
          }
        }
        .ant-select-arrow {
          display: none;
        }
      }
      .ant-picker-panel {
        .ant-picker-content {
          tbody:before {
            content: "@";
            display: block;
            line-height: 15px;
            text-indent: -99999px;
          }
        }
        .ant-picker-cell,
        .ant-picker-cell-inner {
          font-size: 20px;
          min-width: 50px;
          height: 50px;
          line-height: 50px;
          border-radius: 50%;
          &::before {
            border: none;
          }
        }
        .ant-picker-calendar-date-today {
          color: whitesmoke;
          border-color: #5684ae;
          background-color: #0f4c81;
        }
        .ant-picker-cell-selected .ant-picker-cell-inner {
          background: #5684ae;
        }
      }
    }
  }
}
